html {
	background-color: #EDF2C5;
	box-sizing: border-box;

}

*,
*:before,
*:after {
	box-sizing: inherit
}

body {
	font-family: Arial Black;
}

.container {
	margin-top: 53px;
	max-width: 940px;
	margin-right: auto;
	margin-left: auto;
}

.header{
	color: #778A50;
}

.header-title {
	margin-top: 0;
	margin-bottom: 8px;
	width: 271px;
	height: 42px; 
	float: left;
	font-family: Arial Black;
	font-size: 36px;
}

.header-left{
	display:inline-flex;
	justify-content: flex-end;
	width: 200px;
	height: 25px;
	margin-left: 739px;
}

.header-icon{
	width: 70px;
	height: 25px;
	margin-bottom: 17px;
}

.facebook{
	width: 25px;
	margin-right: 10px;
}

.instagram{
	width: 25px;
	padding-right: 10px;
	border-right: 1px solid #778A50;
}

.header-box{
	margin-bottom: 17px;
}

.box-a {
	margin-left: 10px;
	border: 1px solid #778A50;
	border-radius: 3px;
	font-size: 14px;
	font-family: Arial BoldMT;
	height: 25px;
}

.box-b {
	margin-left: 10px;
	border: 1px solid #778A50;
	border-radius: 3px;
	font-size: 14px;
	font-family: Arial BoldMT;
	height: 25px;
}

.nav {
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: #778A50;
	border-radius: 3px;
}

.nav-list {
	display: flex;
	padding-left: 30px;
	margin-top: 0;
	margin-bottom: 20px;
}

.nav-list-item {
	list-style: none;
	margin-top: 16px;
	margin-right: 60px;
	margin-bottom: 16px;
}

.nav-list-item-link { 
	display: block;
	color: #EDF2C5;
	font-size:16px;
	text-decoration: none;
}

.content-area{
	margin-bottom: 30px;
}

.left{
	float:left;
}

.sidebar-left{
	width: 415px;
	margin-bottom: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 30px;
	border-radius: 3px;
	background-color: #778A50;
	font-size: 16px;
	color: #EDF2C5;
	box-sizing: content-box;

}

.img-pepper{
	display: inline-flex;
	margin-right: 6px;
	margin-bottom: 35px; 
}

.img-carrot{
	display: inline-flex;
	margin-right: 6px;
	margin-bottom: 35px; 
}

.img-corn{
	display: inline-flex;
	margin-right: 6px;
	margin-bottom: 35px; 
}

.right{
	float:right;
}

.sidebar-right{
	margin-bottom: 15px;
	padding-top: 16px;
	padding-bottom:16px;
	padding-left: 30px;
	border-radius: 3px;
	background-color: #778A50;
	font-size: 16px;
	color: #EDF2C5;
	box-sizing: content-box;
}

.contact{
	width:445px;
	height:140px;
	margin-top:0px;
	margin-bottom:35px;
	border-radius: 3px;
	background-color: #F7FBDA;
	box-sizing: border-box;
	font-family: ArialMT Regular;
	font-size: 12px;
	color: #7D7D7D;
}

.p1{
    font-family: ArialMT Regular;
	font-size: 12px;
	color: #7D7D7D;	
    padding:16px 15px;
    margin:0;
}

.line{
 	width: 414px;
    height: 1px;
    border-top: 1px solid #7D7D7D;
    margin:0 15px;  
}

.p2 {
	font-family: ArialMT Regular;
	font-size: 12px;
	color: #7D7D7D;
	padding-left: 15px
}

.footer {
	display: flex;
	justify-content: center;
	text-align: center;
	width:1502px;
	height: 60px;
	font-family: ArialMT Regular; 
	font-size: 12px;
	color: #EDF2C5;
	padding-top: 24px;
	padding-bottom: 25px;
	background-color: #778A50;
}